<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">

    <style type="text/css">
    .gauge {
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
  }
  
.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }
  
.gauge__cover {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
  
    
    </style>
</head>
<body >
    <br/>
    <div class="row">
        

    <div class="col-md-6">
       <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width:770px;">
           <tr style="background-color: lightgray;">
               <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Age</th>
               <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Name</th>
               <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Last Period</th>
               <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">purpose</th>
           </tr>
           <tr >
            <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">{{age}}</td>
            <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">{{appoint.name}}</td>
            <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">{{appoint.lastPeriodTimeMonth}}  {{appoint.lastPeriodTimeYear}}</td>
            <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">{{appoint.get_purpose_display}}</td>
        </tr>
       </table>

       </div>

       

       <div class="col-md-5">

        <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width: 900px;">
            <tr style="background-color: lightgray;">
                <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Previous Diagnosis</th>
                <th  colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-left: 120px;">Files Uploaded</th>
                
                
            </tr>
            <tr >
             <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                 {% if appoint.hyperprolactinemia %}
                 hyperprolactinemia
                 {% endif %}
                 {% if appoint.pcos_pcod %}
                 Pcos_Pcod
                 {% endif %}
                 {% if appoint.hypothyroidism %}
                 Hypothyroidism
                 {% endif %}
                 {% if appoint.other %}
                 other
                 {% endif %}
            
            
            </td>
             <td style="border: 1px solid black;border-collapse: collapse;">{{appoint.reportFirst}}</td>
             <td style="border: 1px solid black;border-collapse: collapse;">{{appoint.reportSecond}}  {{appoint.lastPeriodTimeYear}}</td>
             
         </tr>
        </table>
           
       </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-md-2">
            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width:200px;height:607px;">

                <tr style="background-color: lightgray;">
                    <th  style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">Waist/Hip Ratio</th>
                </tr>

                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">
                        <div class="gauge">
                            <div class="gauge__body">
                              <div class="gauge__fill"></div>
                              <div class="gauge__cover"></div>
                            </div>
                          </div>
                        
                        <p style="text-align: center;"><b>{{waist_hip}}</b></p>

                        {% if waist_hip <= 0.8 %}
                        Your waist to hip ratio shows that you are at low risks from fat accumulation in belly area.
                        {% elif waist_hip <= 0.85 %}
                        Your waist to hip ratio show that you face from fat accumulation in belly area.
                        {% else %}
                        "You have an apple shaped body. Women of this body shape tend to have more fat accumulated near the belly and internal organs. This is often a signal of multiple health risks including High Cholesterol, Diabetes ad fertility, among others
                        {% endif %}

                        


                         
                         </td>
                </tr>

            </table>

        </div>

            <div class="col-md-2">

            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width:200px;height:225px;">

                <tr style="background-color: lightgray;">
                    <th  style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">Weight Gained</th>
                </tr>

                <tr>
                    
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">
                        <br/>
                         {{weight_gained}}% in {{appoint.time9}} {{appoint.get_time9_d_display}} 

                         <br/>
                
                         Weight:  {{appoint.weight}}kgs
                    </td>
                </tr>

            </table>

            <br/>
            <br/>
            


            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width:200px;height: 335px;">

                <tr style="background-color: lightgray;">
                    <th  style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">Pregnancy within past year</th>
                </tr>

                <tr>
                    
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">
                        <br/>
                         {% if appoint.have_baby == "y" %}
                           <p style="text-align: center;"><b>Yes</b></p>
                           <p>Ideally, pregnancy weight should ideally be lost within 1 year of delivering the baby.</p>
                         {% else %}
                         <p style="text-align: center;"><b>Yes</b></p>
                         {% endif %}
                    </td>
                </tr>

            </table>

            

        </div>

        <div class="col-md-2">

            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width:200px;height:200px;">

                <tr style="background-color: lightgray;">
                    <th  style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;text-align: center;">BMI</th>
                </tr>

                <tr>
                    
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 50px;">

                        <div class="gauge">
                            <div class="gauge__body">
                              <div class="gauge__fill"></div>
                              <div class="gauge__cover"></div>
                            </div>
                          </div>
                        <p style="text-align: center;"><b>{{bmi}}</b></p>
                        <p>Weight: {{appoint.weight}}</p>
                        <p>Height: {{appoint.height_feet}} ft   {{appoint.height_inches}} inch </p>



                        
                    </td>
                </tr>

            </table>

            <br/>
            <br/>


            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width:200px;height:338px;">

                <tr>
                    <td  style="background-color: lightgray;border: 1px solid black;border-collapse: collapse;text-align: center;"><b>High-Carb Intake</b></td>
                    <td colspan="2" style="border: 1px solid black;border-collapse: collapse;text-align: center;">
                    <p style="color: red;">{{appoint.get_eatFoodValue_display}}</p>
                    </td>
                </tr>

                <tr>
                    
                    <td style="background-color: lightgray;border: 1px solid black;border-collapse: collapse;"><b>Physical exercise</b> </td>
                    <td colspan="2" style="border: 1px solid black;border-collapse: collapse;">
                        <p style="color: red;text-align: center;">{{appoint.get_workoutValue_display}}</p>
                    </td>

                </tr>

                <tr>
                    
                    <td style="background-color: lightgray;border: 1px solid black;border-collapse: collapse;"><b>Physical exercise</b> </td>
                    <td style="border: 1px solid black;border-collapse: collapse;">
                        <p >{{appoint.sleepValue}}{{appoint.get_sleepValueType_display}}</p>

                        
                    </td>
                    <td style="border: 1px solid black;border-collapse: collapse;">
                        {% if appoint.sleepValue < 6.5 %}
                          Insufficient
                        {% elif appoint.sleepValue < 9 %}
                          Optimal
                        {% else %}
                           Excess
                        {% endif %}
                    </td>
                    


                </tr>

            </table>

            
        </div>

        


        














        

        <div class="col-md-6">
            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width: 900px;height:200px">
                <tr style="background-color: lightgray;">
                    <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Symptoms</th>
                </tr>
                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                       {% if appoint.hairLoss == "true" %}
                          Hair Loss 
                       {% endif %}
                       {% if appoint.hairLossTime  %}
                       for {{appoint.hairLossTime}} {{appoint.get_hairLossTimeType_display}}
                       {% endif %}
                       <br/>

                       {% if appoint.acneLoss == "true" %}
                         Acne 
                       {% endif %}
                       {% if appoint.acneLossTime  %}
                       for {{appoint.acneLossTime}} {{appoint.get_acneLossTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.missedPeriod == "true" %}
                         Missed/Irregular Period
                       {% endif %}
                       {% if appoint.missedPeriodTime  %}
                       for {{appoint.missedPeriodTime}} {{appoint.get_missedPeriodTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.extraHair == "true" %}
                         Extra hair growth on body and face
                       {% endif %}
                       {% if appoint.extraHairTime  %}
                       for {{appoint.extraHairTime}} {{appoint.get_extraHairTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.constipation == "true" %}
                         Constipation
                       {% endif %}

                       <br/>

                       {% if appoint.skinPigmentation == "true" %}
                       Skin Pigmentation/thickness/dryness
                       {% endif %}

                       <br/>

                       {% if appoint.slowHeartbeat == "true" %}
                       Slow Heartbeat
                       {% endif %}

                       <br/>

                       {% if appoint.headache == "true" %}
                         Headache
                       {% endif %}
                       {% if appoint.headacheTime  %}
                       for {{appoint.headacheTime}} {{appoint.get_headacheTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.dischargeNipple == "true" %}
                         Discharge from Nipple
                       {% endif %}

                       <br/>

                       {% if appoint.moodSwings == "true" %}
                       Mood Swings/Lethargy/Sluggishness
                       {% endif %}

                       <br/>

                       {% if appoint.others == "true" %}
                         Others
                       {% endif %}
                       {% if appoint.othersTime  %}
                       for {{appoint.othersTime}} {{appoint.get_othersTimeType_display}}
                       {% endif %}
                    </td>

                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <b>Last Period</b>
                        <br/>
                        {{appoint.lastPeriodTimeMonth}}{{appoint.lastPeriodTimeYear}}
                        <br/>

                        {% if appoint.stoppedPeriods == "true" %}
                            Stopped getting menstrual periods
                        {% endif %}

                        <br/>

                        {% if appoint.lessThanSixCycles == "true" %}
                             less than 6 cycles a year
                        {% endif %}

                        <br/>

                        {% if appoint.moreThanSixCycles == "true" %}
                            more than 6 cycles a year
                        {% endif %}

                        <br/>

                        {% if appoint.countinuosFlow == "true" %}
                           Continuous flow for more than 7 days
                        {% endif %}
                    </td>
                </tr>

            </table>


            <br/>
            </br/>


            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width: 900px;height:100px;">
                <tr style="background-color: lightgray;">
                    <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Medical Coditions in Family</th>
                    <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Ongoing Medicaton/Supplements for</th>

                </tr>
                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">

                       {% if appoint.highBloodPressure == "true" %}
                         High Blood Pressure
                       {% endif %}

                       <br/>

                       {% if appoint.highCholesterol == "true" %}
                       High Cholesterol
                       {% endif %}

                       <br/>

                       {% if appoint.familyHypothyroidism == "true" %}
                       Hypothyroidism
                       {% endif %}

                       <br/>


                       {% if appoint.diabetes == "true" %}
                       Diabetes
                       {% endif %}

                       <br/>

                       {% if appoint.pcos == "true" %}
                        PCOS
                       {% endif %}

                    </td>

                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        
                        {% if appoint.currentlyNotUnderAnyMedication == "true" %}
                        Currently not under medication
                        {% endif %}

                       <br/>

                       {% if appoint.diabestes == "true" %}
                       Diabetes (insulin (Humulin N, Lantus), glipizide, pioglitazone)
                        {% endif %}

                       <br/>

                       {% if appoint.migrane == "true" %}
                       migraine
                       {% endif %}

                       <br/>

                       {% if appoint.medicationHighBloodPressure == "true" %}
                       High Blood pressure(metoprolol (Lopressor), atenolol (Tenormin), propranolol (Inderal))
                       {% endif %}

                       <br/>

                       {% if appoint.medicationMentalHealthDisorder == "true" %}
                       Mental health disorder (paroxetine (Paxil), sertraline (Zoloft), amitriptyline, trazodone, alprazolam (Xanax), diazepam (Valium)
                       {% endif %}

                       <br/>

                       {% if appoint.steroidTherapy == "true" %}
                       Steroid therapy (prednisone, norethindrone, Nexplanon, tamoxifen)
                       {% endif %}

                       <br/>


                       {% if appoint.hormonalContraception == "true" %}
                       Hormonal Contraception
                       {% endif %}

                       <br/>

                       {% if appoint.seizure == "true" %}
                       seizure/fit (gabapentin (Neurontin), pregabalin (Lyrica), divalproex (Depakote))
                       {% endif %}

                       <br/>

                       {% if appoint.proteinSupplements == "true" %}
                        Protein Supplements
                       {% endif %}

                       <br/>


                       {% if appoint.Opioids == "true" %}
                       Opioids (oxycodone, hydrocodone)
                       {% endif %}

                       <br/>

                       {% if appoint.antiHistamines == "true" %}
                       Anti-Histamines (ranitidine, diphenhydramine (Benadryl), cetirizine (Zyrtec))
                       {% endif %}

                       <br/>

                    </td>

                    

            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <br/>
            <br/>
            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width: 775px;">
                <tr  style="background-color: lightgray;">
                    <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <p>Symptomatic deductions</p>
                        <p>*These deductions are based purely on your inputs in the questionnaire. Please discuss the with the medical practitioner.</p>
                    </th>
                </tr>

                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <b>Strongly Symptomatic</b>
                    
                    </td>

                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        {% if pcos_ratio > 0.4 %}
                           PCOS
                        {% endif %}

                        {% if thyroid_ratio > 0.4 %}
                            Hypothyroidism	
                        {% endif %}

                        {% if prolac_ratio > 0.4 %}
                        Hyperprolactinemia	

                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <b>Mildly Symptomatic</b>
                    
                    </td>

                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        {% if pcos_ratio > 0.2 and pcos_ratio < 0.4 %}
                           PCOS
                        {% endif %}

                        {% if thyroid_ratio > 0.2 and thyroid_ratio < 0.4 %}
                            Hypothyroidism	
                        {% endif %}

                        {% if prolac_ratio > 0.2 and thyroid_ratio < 0.4 %}
                        Hyperprolactinemia	

                        {% endif %}
                    </td>
                </tr>

                <tr  style="background-color: lightgray;">
                    <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <p style="text-align: center;">Possible risks and complications</p>
                        
                    </th>

                </tr>

                <tr style="background-color: lightblue;">
                    <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <p style="text-align: center;">Family History</p>
                        
                    </th>
                </tr>

                <tr>
                    <td colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <br/>
                        {% if appoint.highBloodPressure == "true" %}
                        High Blood Pressure
                        {% endif %}

                        {% if appoint.highCholesterol == "true" %}
                        High Cholesterol
                        {% endif %}

                        {% if appoint.familyHypothyroidism == "true" %}
                        Hypothyroidism
                        {% endif %}

                        {% if appoint.diabetes == "true" %}
                        Diabetes
                        {% endif %}

                        {% if appoint.pcos == "true" %}
                        PCOS
                        {% endif %}
                        
                    </td>
                </tr>

                <tr style="background-color: lightblue;">
                    <th colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <p style="text-align: center;">From Symptoms or Known Health Issues</p>
                        
                    </th>
                </tr>

                <tr>
                    <td colspan="2" style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                    {% if pcos_ratio > 0.2 %}
                    <p><b>Risk from PCOS:</b></p>
                    <p>Diabetes Type 2, Sleep Apnea, Cardiovascular Diseases and Hypertension, Hypertension in Pregnancy, Obesity, Impaired Glucose Intolerance (Pre-Diabetic).</p>
                    {% endif %}

                    {% if thyroid_ratio > 0.2 %}
                    <p><b>Risk from Hypothyroidism:</b> </p>
                    <p>Cardiovascular Diseases, Infertility, complications in pregnancy, Reduced Kidney function, obesity</p>
                    {% endif %}

                    {% if prolac_ratio > 0.2 %}
                    <p><b>Risk from Hyperprolactinemia:</b> </p>
                    <p>Infertility,In extreme cases - blindness, hemorrhage, osteoporosis</p>
                    {% endif %}
                    </td>
                </tr>

                <tr style="background-color: lightgray;">
                    <th colspan="2"  style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <p style="text-align: center;">Other possible causes of weight gain</p>
                        
                    </th>
                </tr>
                <tr>
                    <td  style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                       <p>Stress</p>
                    </td>

                    <td  style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        {% if appoint.migrane == "true" or appoint.diabestes == "true" or appoint.medicationHighBloodPressure == "true" or appoint.medicationMentalHealthDisorder == "true" or appoint.steroidTherapy == "true" or appoint.hormonalContraception == "true" or appoint.seizure == "true" or appoint.proteinSupplements == "true" or appoint.Opioids == "true" or appoint.antiHistamines == "true" %}
                          <p>Ongoing Medications</p>
                        {% endif %}
                        {% if appoint.diabestes == "true" %}
                          Diabetes
                        {% endif %}

                        {% if appoint.migrane == "true" %}
                        migraine
                        {% endif %}

                        {% if appoint.medicationHighBloodPressure == "true" %}
                        High Blood pressure(metoprolol (Lopressor), atenolol (Tenormin), propranolol (Inderal))
                        {% endif %}

                        {% if appoint.medicationMentalHealthDisorder == "true" %}
                        Mental health disorder  (paroxetine (Paxil), sertraline (Zoloft), amitriptyline, trazodone, alprazolam (Xanax), diazepam (Valium)
                        {% endif %}

                        {% if appoint.steroidTherapy == "true" %}
                        Steroid therapy (prednisone, norethindrone, Nexplanon, tamoxifen)
                        {% endif %}

                        {% if appoint.hormonalContraception == "true" %}
                        Hormonal Contraception
                        {% endif %}

                        {% if appoint.seizure == "true" %}
                        seizure/fit (gabapentin (Neurontin), pregabalin (Lyrica), divalproex (Depakote))
                        {% endif %}

                        {% if appoint.proteinSupplements == "true" %}
                        Protein Supplements
                        {% endif %}

                        {% if appoint.Opioids == "true" %}
                        Opioids (oxycodone, hydrocodone)
                        {% endif %}

                        {% if appoint.antiHistamines == "true" %}
                        Anti-Histamines (ranitidine, diphenhydramine (Benadryl), cetirizine (Zyrtec))
                        {% endif %}
                     </td>


                </tr>

                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                        <br/>
                       {% if appoint.sleepValue > 9 %}
                       Excess Sleep
                       {% endif %}
                    </td>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                         <br/>
                         {% if appoint.undergoneSurgery %}
                         Recent surgery
                         {% endif %}

                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">

            <br/>
            <br/>

            <table style="border: 1px solid black;border-collapse: collapse; border-spacing: 30px;width: 900px;">
                <tr style="background-color: lightgray;">
                    <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Known Allergies</th>
                    <th style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">Recent Surgery/Illness History</th>

                </tr>

                <tr>
                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                    {{appoint.medicalAllergies}}
                    </td>

                    <td style="border: 1px solid black;border-collapse: collapse;padding-right: 120px;">
                      
                       {% if appoint.undergoneSurgery == "true" %}
                       Undergone surgery within the past year
                       {% endif %}

                       <br/>

                       {% if appoint.physicallyImmobile == "true" %}
                       Been Physically Immobile in the past year
                       {% endif %}

                       <br/>

                       {% if appoint.viralFever == "true" %}
                       Suffered from Viral Fever sometime in the past year
                       {% endif %}

                       <br/>
                    </td>
                </tr>

            </table>

        </div>
    </div>

   



    <script>
        const gaugeElement = document.querySelector(".gauge");

function setGaugeValue(gauge, value) {
if (value < 0 or value > 1) {
return;
}

gauge.querySelector(".gauge__fill").style.transform = `rotate(${
value / 2
}turn)`;
gauge.querySelector(".gauge__cover").textContent = `${
value * 100}%`;
}


setGaugeValue(gaugeElement, {{waist_hip}} );


    </script>

    

    
    
</body>
</html>