<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/output2.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css'%}"/>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="font-family: open sans;font-size: larger;color:#163948;">
    <div class="header">
        <a href="http://www.proactiveforher.com/" class="logo">Proactive</a>
        <div class="header-right">
          <a href="http://www.proactiveforher.com/">Home</a>
          <a href="http://www.proactiveforher.com/webinar/">Webinars</a>
          <a href="http://www.proactiveforher.com/blog/">Blog</a>
          <a href="http://www.proactiveforher.com/doctors/">Book</a>
        </div>
      </div>

    <button onclick="print()" class="button" id="button">Download PDF</button>
    <p id="back" >Do not click on BACK from this screen</p>
    <div id="content">
        
    <div  class="container" >
        <div class="row" id="heading">
            <h1 ><b>Weight gain: Preliminary Assessment</b></h1>
        </div>
        <br/>
        <br/>
        <div>

            <table  id="table1">
                <tr id="t1-row1">
                    <th id="t1-col1">Age</th>
                    <th id="t1-col1">Name</th>
                    <th id="t1-col1">Last Period</th>
                    <th id="t1-col1">Purpose</th>
                </tr>
                <tr id="t1-row2">
                 <td  id="t1-col2">
                    {% if age < 200 %}
                    {{age}}
                    {% else %}
                     NA
                    {% endif %}

                </td>
                 <td  id="t1-col2">{{appoint.name}}</td>
                 <td  id="t1-col2">{{appoint.month8}},  {{appoint.year8}}<br/> {{last_period_month}} months since last period</td>
                 <td  id="t1-col2">{{appoint.get_purpose_display}}</td>
             </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table  id="table2">

                    <tr  id="t2-row1">
                        <th id="t2-col1">Waist/Hip Ratio</th>
                    </tr>
    
                    <tr>
                        <td id="t2-col2">
                            <div class="gauge" >
                                <div class="gauge__body">
                                  <div class="gauge__fill"></div>
                                  <div class="gauge__cover"></div>
                                </div>
                              </div>
                            
                            <br/>
    
                            {% if waist_hip <= 0.8 %}
                            <p><b>Normal</b></p>
                            <p  id="t2-p1"><b>Normal:</b> < 0.8 <br/>
                                <b>Over-weight:</b> 0.8 - 0.85<br/>
                                <b>Obese:</b> >0.85 </p>
                            <p id="t2-p2">Your waist to hip ratio shows that you are at low risks from fat accumulation in belly area.</p>

                            {% elif waist_hip <= 0.85 %}
                            <p><b>Over-weight</b></p>
                            <p  id="t2-p1"><b>Normal:</b> < 0.8 <br/>
                            <b>Over-weight:</b> 0.8 - 0.85<br/>
                            <b>Obese:</b> >0.85 </p>
                            <p id="t2-p2">Your waist to hip ratio show that you face from fat accumulation in belly area.</p>

                            {% else %}
                            <p><b>Obese</b></p>
                            <p  id="t2-p1"><b>Normal:</b> < 0.8 <br/>
                            <b>Over-weight:</b> 0.8 - 0.85<br/>
                            <b>Obese:</b> >0.85 </p>
                            <p id="t2-p2">You have an apple shaped body. Women of this body shape tend to have more fat accumulated near the belly and internal organs. This is often a signal of multiple health risks including high Cholesterol, diabetes ad fertility, among others.
                            {% endif %}</p>
    
                            </td>
                    </tr>
    
                </table>
            </div>

            <div class="col-md-4">
                <table id="table3">

                    <tr id="t3-row1">
                        <th id="t3-col1" >Weight Gained</th>
                    </tr>
    
                    <tr>
                        
                        <td  id="t3-col2">
                            <br/>
                             {{weight_gained}}% in {{appoint.time9}} {{appoint.get_time9_d_display}} 
    
                             <br/>
                    
                             Weight:  {{appoint.weight}}kgs
                        </td>
                    </tr>
    
                </table>

                <table id="table4"> 

                    <tr id="t4-row1">
                        <th id="t4-col1">Pregnancy within past year</th>
                    </tr>
    
                    <tr id="t4-row2">
                        
                        <td  id="t4-col2">
                             {% if appoint.have_baby == "y" %}
                               <p id="t4-p1"><b>Yes</b></p>
                               <p>Pregnancy weight should ideally be lost within 1 year of delivering the baby.</p>
                             {% else %}
                             <p id="t4-p1"><b>No</b></p>
                             {% endif %}
                        </td>
                    </tr>
    
                </table>

                <table  id="table5">

                    <tr id="t5-row1">
                        <th id="t5-col1">High-Carb Intake</th>
                    </tr>


                    <tr id="t5-row2">
                        
                        <td  id="t5-col2">
                            <p id="t5-p1">{{appoint.get_eatFoodValue_display}}</p>
                        </td>
                    </tr>

                    <tr id="t5-row1">
                        <th id="t5-col1">Physical exercise</th>
                    </tr>


                    <tr id="t5-row2">
                        
                        <td  id="t5-col2">
                            <p id="t5-p1">{{appoint.get_workoutValue_display}}</p>
                        </td>
                    </tr>

                    <tr id="t5-row1">
                        <th id="t5-col1">Sleep</th>
                    </tr>


                    <tr id="t5-row2">
                        
                        <td  id="t5-col2">
                            <p >{{appoint.sleepValue}}{{appoint.get_sleepValueType_display}} hrs

                                {% if appoint.sleepValue < 6.5 %}
                                  (Insufficient)
                                {% elif appoint.sleepValue < 9 %}
                                  (Optimal)
                                {% else %}
                                   (Excess)
                                {% endif %}
                                </p>
                        </td>
                    </tr>
    
                </table>
            </div>

            <div class="col-md-4">
                
                <table  id="table6">

                    <tr  id="t6-row1">
                        <th id="t5-col1">BMI</th>
                    </tr>
                    
                    <tr id="t6-row2">
                        <td id="t6-col2">
                            <p>{% if bmi >= 25 %}
                                You would need to lose at least {{Weightbmi}} kgs to get to a normal BMI
                                {% endif %}

                                {% if bmi < 18.5 %}
                                You would need to gain at least {{Weightbmi}} kgs to get a normal BMI
                                {% endif %}</p>



                            <div class="gauge1">
                                <div class="gauge__body1">
                                  <div class="gauge__fill1"></div>
                                  <div class="gauge__cover1"></div>
                                </div>
                              </div>
                            <br/>

                            {% if bmi < 16 %}
                            <b>Very severly underweight</b>
                            {% endif %}

                            {% if bmi >= 16 and bmi <= 16.9 %}
                            <b>Severly underweight</b>
                            {% endif %}

                            {% if bmi >= 17 and bmi <= 18.4 %}
                            <b>Underweight</b>
                            {% endif %}

                            {% if bmi >= 18.8 and bmi <= 24.9 %}
                            <b>Normal</b>
                            {% endif %}

                            {% if bmi >= 25 and bmi <= 29.9 %}
                            <b>Overweight</b>
                            {% endif %}

                            {% if bmi >= 30 and bmi <= 34.9 %}
                            <b>Obese Class I</b>
                            {% endif %}

                            {% if bmi >= 35 and bmi <= 39.9 %}
                            <b>Obese Class II</b>
                            {% endif %}
                           
                        


                            <p>Weight: {{appoint.weight}}</p>
                            <p>Height: {{appoint.height_feet}} ft   {{appoint.height_inches}} inch </p>

                            <p id="t6-p1">
                                Very severly underweight &nbsp; < 16 <br/>
                                Severly underweight&nbsp;16.0 - 16.9<br/>
                                Underweight  &nbsp;             17.0 - 18.4<br/>
                                Normal      &nbsp;              18.8 - 24.9<br/>
                                Overweight   &nbsp;             25.0 - 29.9<br/>
                                Obese Class I   &nbsp;          30.0 - 34.9<br/>
                                Obese Class II  &nbsp;          35.0 - 39.9<br/>
                                <br/>

                                
                            </p>
                        </td>
                    </tr>
    
                </table>

                
            </div>
        </div>
        <div class="row">
        <table id="table7">
            <tr  id="t7-row1">
                <td colspan="2" id="t7-col1">
                    <p id="t7-p1"><b>Symptomatic deductions</b></p>
                    <p  id="t7-p2">*These deductions are based purely on your inputs in the questionnaire. Please discuss the with the medical practitioner.</p>
                </td>
            </tr>


            

            <tr>
                <td id="t7-col2">
                    <b>Strongly Symptomatic</b>
                
                </td>

                <td id="t7-col2">
                    {% if pcos_ratio > 0.4 %}
                       PCOS
                       <br/>
                    {% endif %}

                    {% if thyroid_ratio > 0.4 %}
                        Hypothyroidism
                        <br/>	
                    {% endif %}

                    {% if prolac_ratio > 0.4 %}
                    Hyperprolactinemia
                    <br/>	

                    {% endif %}
                </td>
            </tr>

            <tr>
                <td id="t7-col2">
                    <b>Mildly Symptomatic</b>
                
                </td>

                <td id="t7-col2">
                    {% if pcos_ratio > 0.2 and pcos_ratio < 0.4 %}
                       PCOS
                       <br/>
                    {% endif %}

                    {% if thyroid_ratio > 0.2 and thyroid_ratio < 0.4 %}
                        Hypothyroidism
                        <br/>	
                    {% endif %}

                    {% if prolac_ratio > 0.2 and thyroid_ratio < 0.4 %}
                    Hyperprolactinemia
                    <br/>	

                    {% endif %}
                </td>
            </tr>

            <tr id="t7-row2">
                <th colspan="2" id="t7-col3" >
                    <p id="t7-p3">Possible risks and complications</p>
                    
                </th>

            </tr>

            <tr  id="t7-row2">
                <td colspan="2" id="t7-col3" >
                    <p  id="t7-p4"><b>Family History</b></p>
                    <p  id="t7-p5"> You are genetically predisposed to the following health conditions because they(or a related health condition) run in your family.</p>
                    
                </td>
            </tr>

            <tr>
                <td colspan="2" id="t7-col2">
                    {% if appoint.highBloodPressure == "false" and appoint.highCholesterol == "false" and appoint.familyHypothyroidism == "false" and appoint.diabetes == "false" and appoint.pcos == "false" %}
                    <b> N/A </b>
                    {% endif %}
                    {% if appoint.highBloodPressure == "true" %}
                    High Blood Pressure
                    <br/>
                    {% endif %}
                   

                    {% if appoint.highCholesterol == "true" %}
                    High Cholesterol
                    <br/>
                    {% endif %}
                   

                    {% if appoint.familyHypothyroidism == "true" %}
                    Hypothyroidism
                    <br/>
                    {% endif %}
                   

                    {% if appoint.diabetes == "true" %}
                    Diabetes
                    <br/>
                    {% endif %}
                   

                    {% if appoint.pcos == "true" %}
                    PCOS
                    <br/>
                    {% endif %}
                    
                </td>
            </tr>

            <tr  id="t7-row2">
                <th colspan="2" id="t7-col3" >
                    <p  id="t7-p3">From symptoms or known health issues</p>
                    
                </th>
            </tr>

            <tr>
                <td colspan="2"  id="t7-col2">
                {% if pcos_ratio < 0.2 and  appoint.pcos_pcod == "false" and thyroid_ratio < 0.2 and appoint.hypothyroidism == "false" and prolac_ratio < 0.2 and appoint.hyperprolactinemia == "false" %}
                <b>N/A</b>
                {% endif %}

                {% if pcos_ratio > 0.2 or appoint.pcos_pcod == "true" %}
                <p><b>Risk from PCOS:</b></p>
                <p>Diabetes Type 2, Sleep Apnea, Cardiovascular Diseases and Hypertension, Hypertension in Pregnancy, Obesity, Impaired Glucose Intolerance (Pre-Diabetic).</p>
                {% endif %}

                {% if thyroid_ratio > 0.2 or appoint.hypothyroidism == "true" %}
                <p><b>Risk from Hypothyroidism:</b> </p>
                <p>Cardiovascular Diseases, Infertility, complications in pregnancy, Reduced Kidney function, obesity</p>
                {% endif %}

                {% if prolac_ratio > 0.2 or appoint.hyperprolactinemia == "true" %}
                <p><b>Risk from Hyperprolactinemia:</b> </p>
                <p>Infertility,In extreme cases - blindness, hemorrhage, osteoporosis</p>
                {% endif %}
                </td>
            </tr>

            <tr id="t7-row2">
                <th  colspan="2" id="t7-col3" >
                    <p id="t7-p3">Other possible causes of weight gain</p>
                    
                </th>
            </tr>
            <tr>
                <td colspan="2"  id="t7-col4"> 
                
                   Stress
                   <br/>
                

                    
                    
                
                
                
                   {% if appoint.sleepValue > 9 %}
                   Excess Sleep
                   <br/>
                   {% endif %}
                   
                

                
                   {% if appoint.undergoneSurgery == "true" %}
                     Recent surgery
                   {% endif %}
                   <br/>

                   {% if appoint.migrane == "true" or appoint.diabestes == "true" or appoint.medicationHighBloodPressure == "true" or appoint.medicationMentalHealthDisorder == "true" or appoint.steroidTherapy == "true" or appoint.hormonalContraception == "true" or appoint.seizure == "true" or appoint.proteinSupplements == "true" or appoint.Opioids == "true" or appoint.antiHistamines == "true" %}
                      <b>Ongoing Medications-</b>
                    {% endif %}
                    <ul>
                    {% if appoint.diabestes == "true" %}
                      <li>Diabetes</li>
                    {% endif %}

                    {% if appoint.migrane == "true" %}
                      <li>migraine</li>
                    {% endif %}

                    {% if appoint.medicationHighBloodPressure == "true" %}
                       <li>High Blood pressure(metoprolol (Lopressor), atenolol (Tenormin), propranolol (Inderal))</li>
                    {% endif %}

                    {% if appoint.medicationMentalHealthDisorder == "true" %}
                       <li>Mental health disorder  (paroxetine (Paxil), sertraline (Zoloft), amitriptyline, trazodone, alprazolam (Xanax), diazepam (Valium)</li>
                    {% endif %}

                    {% if appoint.steroidTherapy == "true" %}
                        <li>Steroid therapy (prednisone, norethindrone, Nexplanon, tamoxifen)</li>
                    {% endif %}

                    {% if appoint.hormonalContraception == "true" %}
                        <li>Hormonal Contraception</li>
                    {% endif %}

                    {% if appoint.seizure == "true" %}
                        <li>seizure/fit (gabapentin (Neurontin), pregabalin (Lyrica), divalproex (Depakote))</li>
                    {% endif %}

                    {% if appoint.proteinSupplements == "true" %}
                        <li>Protein Supplements</li>
                    {% endif %}

                    {% if appoint.Opioids == "true" %}
                        <li>Opioids (oxycodone, hydrocodone)</li>
                    {% endif %}

                    {% if appoint.antiHistamines == "true" %}
                        <li>Anti-Histamines (ranitidine, diphenhydramine (Benadryl), cetirizine (Zyrtec))</li>
                    {% endif %}
                </ul>

                </td>
                
            </tr>
        
        </table>

        </div>
        <br/>

        <h3  id="t6-row2"><b>Please find below the information you provided.</b></h3>
        <br/>

        <div class="row">
            <table  id="table8">
                <tr  id="t7-row2">
                    <th id="t8-col1">Previous Diagnosis</th>
                    <th  colspan="2" id="t8-col1">Files Uploaded</th>
                    
                    
                </tr>
                <tr >
                 <td  id="t8-col2">
                     {% if appoint.hyperprolactinemia == "true" %}
                     hyperprolactinemia
                     <br/>
                     {% endif %}
                     {% if appoint.pcos_pcod == "true" %}
                     PCOS/PCOD
                     <br/>
                     {% endif %}
                     {% if appoint.hypothyroidism == "true" %}
                     Hypothyroidism
                     <br/>
                     {% endif %}
                     {% if appoint.other == "true" %}
                     other
                     <br/>
                     {% endif %}
                
                
                </td>
                 <td  id="t8-col3">
                    {% if appoint.reportFirst == "none" %} 
                    <b>N/A</b>
                    {% else %}
                     <a href="{{appoint.reportFirst.url}}">
                     {{appoint.reportFirst}}</a>
                    {% endif %}
                    </td>
                 <td  id="t8-col3">
                    {% if appoint.reportSecond == "none" %} 
                    <b>N/A</b>
                    {% else %}
                     <a href="{{appoint.reportSecond.url}}">
                    {{appoint.reportSecond}}</a>
                    {% endif %}  
                    </td>
                 
             </tr>
            </table>

            <table  id="table9">
                <tr  id="t9-row1">
                    <td  id="t9-col1">Particular Concerns:</td>
                    <td  id="t9-col2">{{appoint.symptoms7}}</td>
                </tr>

            </table>

            <table  id="table10">
                <tr id="t7-row2">
                    <th colspan="2"  id="t10-col1">Symptoms</th>
                </tr>
                <tr>
                    <td id="t10-col2">
                       {% if appoint.hairLoss == "true" %}
                          Hair Loss 
                       {% endif %}
                       {% if appoint.hairLossTime  %}
                       for {{appoint.hairLossTime}} {{appoint.get_hairLossTimeType_display}}
                       {% endif %}
                       <br/>

                       {% if appoint.acneLoss == "true" %}
                         Acne 
                       {% endif %}
                       {% if appoint.acneLossTime  %}
                       for {{appoint.acneLossTime}} {{appoint.get_acneLossTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.missedPeriod == "true" %}
                         Missed/Irregular Period
                       {% endif %}
                       {% if appoint.missedPeriodTime  %}
                       for {{appoint.missedPeriodTime}} {{appoint.get_missedPeriodTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.extraHair == "true" %}
                         Extra hair growth on body and face
                       {% endif %}
                       {% if appoint.extraHairTime  %}
                       for {{appoint.extraHairTime}} {{appoint.get_extraHairTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.constipation == "true" %}
                         Constipation
                       {% endif %}

                       <br/>

                       {% if appoint.skinPigmentation == "true" %}
                       Skin Pigmentation/thickness/dryness
                       {% endif %}

                       <br/>

                       {% if appoint.slowHeartbeat == "true" %}
                       Slow Heartbeat
                       {% endif %}

                       <br/>

                       {% if appoint.headache == "true" %}
                         Headache
                       {% endif %}
                       {% if appoint.headacheTime  %}
                       for {{appoint.headacheTime}} {{appoint.get_headacheTimeType_display}}
                       {% endif %}

                       <br/>

                       {% if appoint.dischargeNipple == "true" %}
                         Discharge from Nipple
                       {% endif %}

                       <br/>

                       {% if appoint.moodSwings == "true" %}
                       Mood Swings/Lethargy/Sluggishness
                       {% endif %}

                       <br/>

                       {% if appoint.others == "true" %}
                         Others
                       {% endif %}
                       {% if appoint.othersTime  %}
                       for {{appoint.othersTime}} {{appoint.get_othersTimeType_display}}
                       {% endif %}
                    </td>

                    <td id="t10-col2">
                        <b>Menstrual Period Details:</b>
                        <br/>
                        <b>Last Period</b>
                        <br/>
                        {{appoint.month8}},{{appoint.year8}}  <br/>{{last_period_month}} months since last period
                        <br/>

                        {% if appoint.stoppedPeriods == "true" %}
                            Stopped getting menstrual periods
                        {% endif %}

                        <br/>

                        {% if appoint.lessThanSixCycles == "true" %}
                             less than 6 cycles a year
                        {% endif %}

                        <br/>

                        {% if appoint.moreThanSixCycles == "true" %}
                            more than 6 cycles a year
                        {% endif %}

                        <br/>

                        {% if appoint.countinuosFlow == "true" %}
                           Continuous flow for more than 7 days
                        {% endif %}
                    </td>
                </tr>

            </table>

            <table  id="table11">
                <tr id="t7-row2">
                    <th id="t11-col1">Medical Conditions in Family</th>
                    <th id="t11-col1">Ongoing Medication/Supplements for</th>

                </tr>
                <tr>
                    <td id="t11-col2" >

                       {% if appoint.highBloodPressure == "true" %}
                         High Blood Pressure
                       {% endif %}

                       <br/>

                       {% if appoint.highCholesterol == "true" %}
                       High Cholesterol
                       {% endif %}

                       <br/>

                       {% if appoint.familyHypothyroidism == "true" %}
                       Hypothyroidism
                       {% endif %}

                       <br/>


                       {% if appoint.diabetes == "true" %}
                       Diabetes
                       {% endif %}

                       <br/>

                       {% if appoint.pcos == "true" %}
                        PCOS
                       {% endif %}
                       

                    </td>

                    <td id="t11-col2">
                        <ul>
                        {% if appoint.currentlyNotUnderAnyMedication == "true" %}
                        <li>Currently not under medication</li>
                        {% endif %}


                       {% if appoint.diabestes == "true" %}
                       <li>Diabetes (insulin (Humulin N, Lantus), glipizide, pioglitazone)</li>
                        {% endif %}


                       {% if appoint.migrane == "true" %}
                       <li>migraine</li>
                       {% endif %}


                       {% if appoint.medicationHighBloodPressure == "true" %}
                       <li>High Blood pressure(metoprolol (Lopressor), atenolol (Tenormin), propranolol (Inderal))</li>
                       {% endif %}


                       {% if appoint.medicationMentalHealthDisorder == "true" %}
                       <li>Mental health disorder (paroxetine (Paxil), sertraline (Zoloft), amitriptyline, trazodone, alprazolam (Xanax), diazepam (Valium)</li>
                       {% endif %}


                       {% if appoint.steroidTherapy == "true" %}
                       <li>Steroid therapy (prednisone, norethindrone, Nexplanon, tamoxifen)</li>
                       {% endif %}



                       {% if appoint.hormonalContraception == "true" %}
                       <li>Hormonal Contraception</li>
                       {% endif %}


                       {% if appoint.seizure == "true" %}
                       <li>seizure/fit (gabapentin (Neurontin), pregabalin (Lyrica), divalproex (Depakote))</li>
                       {% endif %}


                       {% if appoint.proteinSupplements == "true" %}
                       <li>Protein Supplements</li> 
                       {% endif %}



                       {% if appoint.Opioids == "true" %}
                       <li>Opioids (oxycodone, hydrocodone)</li>
                       {% endif %}


                       {% if appoint.antiHistamines == "true" %}
                       <li>Anti-Histamines (ranitidine, diphenhydramine (Benadryl), cetirizine (Zyrtec))</li>
                       {% endif %}

                    </ul>

                    </td>

                    

            </table>

            <table  id="table12">
                <tr id="t7-row2">
                    <th id="t12-col1">Known Allergies</th>
                    <th id="t12-col1">Recent Surgery/Illness History</th>

                </tr>

                <tr >
                    <td id="t12-col2">
                    {{appoint.medicalAllergies}}
                    </td>

                    <td  id="t12-col2">
                      
                       {% if appoint.undergoneSurgery == "true" %}
                       Undergone surgery within the past year
                       {% endif %}

                       <br/>

                       {% if appoint.physicallyImmobile == "true" %}
                       Been Physically Immobile in the past year
                       {% endif %}

                       <br/>

                       {% if appoint.viralFever == "true" %}
                       Suffered from Viral Fever sometime in the past year
                       {% endif %}

                       <br/>
                    </td>
                </tr>

            </table>
            

            <table  id="table13">
                <tr style="background-color:#163948 ;" id="t13-r1">
                    <th id="t13-col1" style="text-align:center;border: 1px solid black;padding-right: 50px;color: white;font-family: lora;font-size: larger;
                    width: 545px;">Additional details you want the physician to know</th>
                </tr>
                <tr >
                    <td id="t13-col2" style="padding-left: 5px;">
                        {{appoint.otherExtraDetailForDoctor}}
                    </td>
                </tr>
            </table>


        </div>
        
      <br/>  
</div>
</div>






<script>
        const gaugeElement = document.querySelector(".gauge");

        function setGaugeValue(gauge, value) {
        if (value < 0 ) {
        return;
        }

        gauge.querySelector(".gauge__fill").style.transform = `rotate(${
        value / 2
        }turn)`;
        gauge.querySelector(".gauge__cover").textContent = `${
        value}`;
        }


        setGaugeValue(gaugeElement, {{waist_hip}} );


        const gaugeElement1 = document.querySelector(".gauge1");

        function setGaugeValue1(gauge1, value1) {
        if (value1 < 0 || value1 > 40 ) {
        return;
        }

        gauge1.querySelector(".gauge__fill1").style.transform = `rotate(${
        value1 / 80
        }turn)`;
        gauge1.querySelector(".gauge__cover1").textContent = `${
        value1}`;
        }


        setGaugeValue1(gaugeElement1, {{bmi}} );


        function print() {
		const filename  = 'Report.pdf';

		html2canvas(document.body, {
  onrendered:function(canvas) {
      var contentWidth = canvas.width;
      var contentHeight = canvas.height;
      //One page pdf shows the canvas height generated by html pages.
      var pageHeight = contentWidth / 592.28 * 841.89;
      //html page height without pdf generation
      var leftHeight = contentHeight;
      //Page offset
      var position = 0;
      //a4 paper size [595.28, 841.89], html page generated canvas in pdf picture width
      var imgWidth = 595.28;
      var imgHeight = 592.28/contentWidth * contentHeight;
      var pageData = canvas.toDataURL('image/jpeg', 1.0);
      var pdf = new jsPDF('', 'pt', 'a4');
      //There are two heights to distinguish, one is the actual height of the html page, and the page height of the generated pdf (841.89)
      //When the content does not exceed the range of pdf page display, there is no need to paginate
      if (leftHeight < pageHeight) {
      pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight );
      } else {
          while(leftHeight > 0) {
              pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
              leftHeight -= pageHeight;
              position -= 841.89;
              //Avoid adding blank pages
              if(leftHeight > 0) {
                pdf.addPage();
              }
          }
      }
      pdf.save('content.pdf');
  }
})
	}
</script>

        
</body>
</html>