.container {
    background-color:white;
    border-color: #163948 ;
    border-style: solid;
    border-radius: 20px;
    border-width: 7px;
    width: 500px;
}

#heading {
    margin-left: 350px;
    font-family: montserrat;
    font-size: 30px;
}

#patient_email {
   width:300px;
}

#submit {
    background-color:#163948;
    margin-left: 180px;
}

#heading1{
    margin-left: 350px;
    font-family: Sans-serif;
    font-size: 15px;
}

#heading2 {
    margin-left: 15px;
    font-family: Sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 500px) {
   .container{
       width:280px;
   }

   #heading {
    margin-left: 10px;
    font-family: montserrat;
    font-size: 30px;
}
    #patient_email {
        width:240px;
    }

    #submit {
        background-color:#163948;
        margin-left: 80px;
        width: 90px;
        
    }

    #heading1{
        margin-left: 15px;
        font-family:Sans-serif;

    }
}